<ion-view view-title="Piyasa Gir" >
<ion-content >
<div class="list list-inset">        
    <!-- Date -->
    <label class="item item-input item-select soft-border">
        <i class="ion-calendar"></i>&nbsp
        <div class="input-label">            
            Tarih
        </div>
        <select ng-model="queryParams.date" ng-change="formValid()" >
            <option ng-repeat="date in dates" value="{{date| date:'yyyy-MM-dd'}}" ng-init="initDateSelect()" > {{date| date:"dd.MM.yyyy"}}</option>
        </select>
    </label>
    <!-- Trade Center -->
    <label class="item item-input item-select soft-border">
        <i class="ion-ios-pricetags-outline"></i>&nbsp
        <div class="input-label">
            Piyasa
        </div>
        <select ng-model="queryParams.tradeCenter" 
                ng-change="formValid()" 
                ng-options="item as item.name for item in tradeCenters | orderBy:'name'">
           <option value="" >Seçiniz</option>
        </select>
    </label>    
    <!-- Exception Div -->
    <div>
        <br><br>
        <center>
            <span style="color:red" class="ion-alert" ng-show="!isQueryValid">  Lütfen bir Piyasa seçiniz.</span>
        </center>        
    </div>

    <a class="button button-block button-positive ion-ios-search-strong" href="{{hrefResultList}}" ng-click="inputData(queryParams)">&nbsp;&nbsp;Veri Gir</a>
</div>
</ion-content>
</ion-view>