<ion-view view-title="{{queryParams.date}}"  >
    <ion-nav-buttons side="right">
        <button class="button button-clear button-positive" data-ng-click="showAddProduct()" >
          <i class="ion-ios-plus-outline"></i>
        Ekle</button>
    </ion-nav-buttons>

    <ion-content >            
        <div class="list list-inset" >            
            <div class="item item-divider" sticky>{{selectedTradeCenter.name}} Piyasası</div>            
            <div class="item item-input" style="height: 140px;"
                data-ng-show="priceInformationList.length == 0" >
                <span class="" style="white-space: pre-line;text-align: center;height:100%;width:100%">
                    Henüz bir ürün eklemediniz.<br/> Ürün eklemek için lütfen 'Ekle' tuşuna dokununuz.
                </span>
            </div>
            <a  class="item item-input col" 
                ng-repeat="priceInformation in priceInformationList" 
                on-swipe-left="remove(priceInformation)" 
                ng-click="showDeleteFor(priceInformation)" 
                >  
                <div class=" row row-wrap" style="justify-content: space-around;align-items: center;">
                    <img fallback-src imgCache  ng-src="{{priceInformation.product.image}}" height="30">
                    <span class="text-left">{{priceInformation.product.name}}</span>
                    <div class="text-right">{{priceInformation.price | currency:" " }} TL </div>
                    <i class="icon ion-trash-b assertive sample-show-hide text-right"
                        ng-click="remove(priceInformation)" 
                        ng-show="priceInformation.showDelete"
                        >
                        Sil
                    </i>
                </div>
            </a>
        </div>
        <div style="height:100px"></div>
    </ion-content>

    <div style="position:absolute;bottom: 0px;right: 0px;left: 0px;height: 100px;" class="cover">
        <div class="card item-divider" style="position:absolute;bottom:20px;right:10px;left:10px;" ng-show="isAvaibleToSend()">
          <div class="item item-text-wrap row" ng-click="sendData()" style="text-align:center;">
            <button class="button icon-left ion-paper-airplane button-positive" style="width:100%">
                {{priceInformationList.length}} Ürün Kaydet
            </button>
          </div>
      </div>
    </div>    
</ion-view>