<ion-view view-title="Bildirim Detayı">
  <ion-nav-buttons side="left">
    <div class="buttons">
      <button class="button button-clear" ng-click="closeAddProduct()"></button>
    </div>
  </ion-nav-buttons>
  <ion-content>
    <form ng-submit="savePriceInformationEntity()">
      <div class="list">
        <label class="item item-input" data-ng-show="showSearchDiv">
          <i class="ion-ios-pricetag-outline"></i>&nbsp
          <span class="input-label">Ürün Adı</span>
          <input type="text" ng-model="priceInformationEntity.searchText"  ng-keyup="searchTextChanged()" id="productName" >
        </label>

        <!-- Show Product Offers -->
        <a class="item item-input" 
              ng-show="showProductSelection" 
              ng-repeat="product in products | filter:{name:priceInformationEntity.searchText} | limitTo : 4" 
              ng-click="saveProduct({{product}})" >
          <span class="input-label"><img fallback-src imgCache ng-src="{{product.image}}" height="30"></span>
          <span >{{product.name}}</span>          
        </a>

        <!-- Show Selected Product -->
        <a class="item item-input" data-ng-show="priceInformationEntity.product" ng-click="reEnableSearch()" >
          <span class="input-label"><img  fallback-src imgCache ng-src="{{priceInformationEntity.product.image}}" height="30"></span>
          {{priceInformationEntity.product.name}}
        </a>

        <label class="item item-input">
          <i class="ion-ios-calculator-outline"></i>&nbsp
          <span class="input-label">Fiyat (TL)</span>
          <input type="tel" ng-model="priceInformationEntity.price" ng-keyup="priceChanged()" id="productPrice" >
        </label>

        <label class="item">
          <button class="button button-block button-positive" type="submit" ng-dblclick="none()">Tamam</button>
        </label>

        <br><br>
        <center>
            <span style="color:red" class="ion-alert" ng-show="!priceInformationEntity.isValid">  Lütfen ürün ve fiyat bilgisini eksiksiz sağlayınız.</span>
        </center>
        
      </div>
    </form>
  </ion-content>
</ion-modal-view>