/* Your application styles go here */

.bg-color {
    background-color:#C3E9D6;
}

.main-view {
    display: none;  
}

.seamless {
    background-image: url('../images/menubg.jpg');
}

ion-content, .bg { 
    /* background-image: url('../images/leaves_bg.png'); */
    background-color:#C3E9D6;
    /* background-size: 1024px 768px; */
}

.pane, .view, .list, .item, .transparent, .item-content, .item-select select {
     /* background-color: #3a3a46; */
     background-color: transparent !important; 
}

.sticky-header {
    background-color: whitesmoke !important;
}

img.center-img {
    width: 40%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.feed-item {
    border-width: 1px;
    border-color: #ddf;
    border-bottom-style: dotted;
}

.left-span {
    width: 50%;
    color: #777;
    font-weight: 600;
}

.right-span {
    width: 50%;
    color: #777;
    text-align: right;
    font-weight: 500;
}

.center-span {
    width: 100%;
    text-align: center;
    display: block;
}

.sample-show-hide {
  -webkit-transition:all linear 0.3s;
  transition:all linear 0.3s;
}

.sample-show-hide.ng-hide {
  opacity:0;
}

.item.active, .item.activated, .item-complex.active .item-content, .item-complex.activated .item-content, .item .item-content.active, .item .item-content.activated {
    background-color: transparent;
}

.arrow-down {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: top;
    border-top: 10px solid #CC2B1B;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    content: "";
    margin: 6px 2px 0;
}

.arrow-up {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: top;
    border-bottom: 10px solid #56c695;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    content: "";
    margin: 5px 2px 0;
}

.arrow-left {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: top;
    border-left: 10px solid #585858;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    content: "";
    margin: 5px 1px 5px;
}

.arrow-right {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: top;
    border-right: 10px solid #585858;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    content: "";
    margin: 5px 1px 5px;
}
