<ion-view view-title="Son Bildirimler">
    <ion-content>    	

    	<ion-refresher 
    			pulling-text="Güncelle" 
    			on-refresh="doRefresh()"
    			>
  		</ion-refresher>

		<ion-list class="list card" >        
	        
			<div ng-repeat="item in items" class="feed-item">
			  
			  <div class="item item-avatar"  style="display:none;" > <!-- sticky -->
			    <gravatar email="item.email" ></gravatar>
			    <!-- <img ng-src="img/fide.png" /> -->
			    <h2>{{item.nameSurname | capitalize:true}}</h2>
			    <p>{{ date(item.feedDate) | date : " d MMMM, H:mm "}}</p>
			  </div>

			  <div class="row" >
				  <div class="col col-25">
				  	<img fallback-src loading-src imgCache  class="center-img" ng-src="{{item.imageUrl}}" style="height:65px;width:65px;">
				  </div>
				  <div class="col col-75">
				  	<div class="row"><span class="left-span">{{item.tradeCenterName}}</span><span class="right-span">{{item.date | date : "d MMM, EEE"}}</span></div>
				  	<div class="row"><span class="left-span">{{item.productName}}</span><span class="right-span">{{item.nameSurname | capitalize:true}}<span ng-if="item.telephone.length > 0" >&nbsp;&nbsp;<i class="icon ion-ios-telephone"></i></span>
				  	</span></div>
				  	<div class="row"><span class="left-span">{{number(item.price) | currency}}</span><span class="right-span">				  		
					<a class="tab-item" ng-if="item.telephone.length > 0" href="tel:{{item.telephone}}">			      
				      Aramak için dokunun
				    </a>
				  	</span></div>
				  </div>
			  </div>			  

			  <div class="item tabs tabs-secondary tabs-icon-left" >
			    <a class="tab-item" ng-click="fix(item)">
			      <i class="icon ion-compose"></i>
			      Düzelt
			    </a>
			    <a class="tab-item" ng-click="approve(item)">
			      <i class="icon ion-thumbsup"></i>
			      Katıl
			    </a>
			    <a class="tab-item" ng-click="share(item)">
			      <i class="icon ion-share"></i>
			      Paylaş
			    </a>
			  </div>

			</div>
	    </ion-list>

	    <ion-infinite-scroll
		    on-infinite="loadMore()"
		    distance="1%">
	  	</ion-infinite-scroll>

    </ion-content>
</ion-view>