<ion-view view-title="Piyasa Sorgula">
<ion-content>

<div class="list list-inset">
    <!-- Date -->
    <label class="item item-input item-select soft-border">
        <i class="ion-calendar"></i>&nbsp
        <div class="input-label">
            Tarih
        </div>
        <select ng-model="queryParams.date" >
            <option ng-repeat="date in dates" value="{{date| date:'yyyy-MM-dd'}}" ng-init="initDateSelect()" > {{date| date:"dd.MM.yyyy"}}</option>
        </select>
    </label>


    <!-- Trade Center -->
    <label class="item item-input item-select soft-border">
        <i class="ion-ios-pricetags-outline"></i>&nbsp
        <div class="input-label">
            Piyasa
        </div>
        <select ng-model="queryParams.tradeCenter" 
                ng-change="formValid()" 
                ng-options="item as item.name for item in tradeCenters | orderBy:'name'">
           <option value="" >Tümü</option>
        </select>
    </label>
    <!-- Product -->
    <label class="item item-input item-select soft-border">
        <i class="ion-ios-pricetag-outline"></i>&nbsp
        <div class="input-label">
            Ürün
        </div>
        <select ng-model="queryParams.product" 
            ng-change="formValid()"
            ng-options="item as item.name for item in products | orderBy:'name'" >
            <option value="">Tümü</option>
        </select>
    </label>
    <!-- Exception Div -->
    <div>
        <br><br>
        <center>
            <span style="color:red" class="ion-alert" ng-show="!isQueryValid">  Lütfen bir Piyasa ya da Ürün seçiniz.</span>
        </center>
        
    </div>

    <a class="button button-block button-positive ion-ios-search-strong" href="{{hrefResultList}}" ng-click="query(queryParams)">&nbsp;&nbsp;Ara</a>

    <br/>

</div>
</ion-content>
</ion-view>