<ion-view view-title="Fiyatlama Detayları">
    <ion-content>

    <div class="item item-body">
    	<img fallback-src imgCache  ng-src="{{imagePath}}" class="center-img">    	
    	<p class="text-center">
			{{title}} için toplam <b>{{totalCount}}</b> adet giriş yapılmıştır. <b> %{{ ( selectedItem.points / totalPoints * 100 ) | number : 0 }} </b> ihtimal ile <b>{{selectedItem.price  | currency:" " }} TL</b> doğru kabul edilmiştir. 
        </p>
        <p class="text-center">
        	<i class="ion-information-circled"></i>
        	Lütfen doğru fiyata dokunarak siz de piyasa bildiriminde bulunun.
        </p>
    </div>

    <ion-list class="list">
        <div sticky >

			<!-- Divider -->
	        <div class="item item-divider">
		    	Muhtemel fiyat
		  	</div>
		  	<!-- Accepted Price -->
		  	
			<a class="item item-avatar" ng-click="expectSecondTouch(selectedItem)">
	            <img fallback-src imgCache  ng-src="{{imagePath}}">
				<div class="row row-center">
	                <div class="col text-left" >
	                    <h2>{{title}}</h2>
	                    <span>
	                    	<h4>
	                    		Kabul oranı :  % {{ ( selectedItem.points / totalPoints * 100 ) | number : 0 }}
	                    	</h4>
	                    </span>
	                </div>
	                <div class="col text-right">
	                    <span>{{selectedItem.price  | currency:" " }} TL</span>
	                </div>
	            </div>
	            <div class="row" ng-if="alternateOption.price == selectedItem.price" ng-click="sendPriceInformationToServer()">
					<h2 class="positive">{{alternateOption.price | currency:" "}} TL - Katılmak için dokunun!</h2>
				</div>
			</a>
	        
	        <div class="item item-divider">
		    	Alternatif fiyat bilgileri
		  	</div>
		</div>

		<div ng-repeat="item in productItems">
			<a class="item item-avatar" ng-click="expectSecondTouch(item)">
	            <img fallback-src imgCache  ng-src="{{imagePath}}">
				<div class="row row-center">
	                <div class="col text-left" >
	                    <h2>{{title}}</h2>
	                    <span>
	                    	<h4>
	                    		Doğruluk : %{{ ( item.points / totalPoints * 100 ) | number : 0 }}
	                    	</h4>
	                    </span>
	                </div>
	                <div class="col text-right">
	                    <span>{{item.price  | currency:" " }} TL</span>
	                </div>
	            </div>
	            <div class="row" ng-if="alternateOption.price == item.price" ng-click="sendPriceInformationToServer()">
					<h2 class="positive">{{alternateOption.price | currency:" "}} TL - Katılmak için dokunun!</h2>
				</div>
			</a>
        </div>

        

    </ion-list>    
</ion-content>
</ion-view>