<ion-view view-title="{{queryParams.date}}">
    
<ion-content >

    <ion-list show-delete="shouldShowDelete" show-reorder="shouldShowReorder" can-swipe="listCanSwipe" >        
        <div class="item item-divider" sticky>{{informationText}} Listesi</div>
        <a  class="item item-avatar" 
            ng-repeat="item in items"
            href="{{item.href}}"
            >
            <img fallback-src imgCache  ng-src="{{item.img}}">
            <div class="row row-center">                
                <div class="col text-left" >                    
                    <h2  ng-if="queryParams.product.id "     >{{item.tradeCenterName}}</h2>
                    <h2  ng-if="queryParams.tradeCenter.id"  >{{item.productName}}</h2>
                    
                    <span ng-if="item.reliability != 100 && ( item.reliability > 80 && item.totalPoints > 100 ) ">
                        <h5  style="color: gray;">Kesin fiyat</h5>
                    </span>

                    <span ng-if="item.reliability != 100 && ( item.reliability <= 80 || item.totalPoints <= 100 ) ">
                        <h5  style="color: gray;">Muhtemel fiyat</h5>
                        <h5 style="color: gray;">Detaylar için dokunun...</h5>
                    </span>

                    <span ng-if="item.reliability == 100 && item.totalPoints >= 50">
                        <h5  style="color: gray;">Kesin fiyat</h5>
                    </span>

                    <span ng-if="item.reliability == 100 && item.totalPoints < 50">
                        <h5  style="color: gray;">Muhtemel fiyat</h5>
                    </span>

                </div>
                <div class="col text-right">
                    <span>{{item.price  | currency:" " }} TL</span>                    
                    <i class="icon ion-chevron-right" ng-show="item.reliability != 100 && ( item.reliability <= 80 || item.totalPoints <= 100 ) "></i>
                </div>
            </div>
        </a>
        
    </ion-list>    

</ion-content>    

</ion-view>