<ion-view view-title="Kişisel Bilgiler">
    <ion-nav-buttons side="right">
        <button class="button button-clear " data-ng-click="resetUser()" >
            <i class="ion-trash-a"></i>
        </button>
    </ion-nav-buttons>
    <ion-content>            
        <div class="list list-inset"> 
            <gravatar email="profile.email" class="padding center-img" style="height:120px;width:120px;"></gravatar>
            <label class="item item-input item-floating-label">
                <span class="input-label">Adınız</span>
                <input type="text" placeholder="Adınız" ng-model="profile.name" ng-change="checkIfDirty()" >
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">E-posta</span>
                <input type="text" placeholder="E-posta" ng-model="profile.email" ng-change="checkIfDirty()" >
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Telefon</span>                
                <intl-tel ng-model="profile.telephone" placeholder="Telefon" ng-change="checkIfDirty()" ></intl-tel>
            </label>

            <button class="button button-full button-positive sample-show-hide" ng-if="profile.ready" ng-show="profile.dirty" ng-click="save()">Kaydet</button>           
        </div>
    </ion-content>
</ion-view>