<ion-view view-title="Kullanım" >
    <ion-content >    
        <div class="item item-body">
            <img fallback-src imgCache class="full-image" ng-src="images/arazi.png" >
            <p>
                <i class="ion-information"></i>
                &nbsp;&nbsp;EnnTaze piyasa uygulaması toptancı pazarları için piyasa bilgisinin şeffaf olarak paylaşılması amacı ile hazırlanmıştır.
            </p>
            <p>
                <i class="ion-shuffle"></i>
                Tüm piyasa bilgileri kullanıcılardan gelen bildirimler doğrultusunda özel algoritmalar ile hesaplanmaktadır.
            </p>
            <p>
                <i class="ion-help"></i>
                &nbsp;&nbsp;Sol üst köşede bulunan menü ( <i class="ion-navicon"></i> ) tuşuna basarak menü içeriğine ulaşabilirsiniz.
            </p>
            <p>
                <b>Piyasa Gir</b> menüsü ile piyasa bilgilerini anında bildirebilirsiniz.
            </p>
            <p>
                <b>Sorgula</b> menüsü ile pazar yeri ve ürün kırılımlarında piyasa sorgulaması yapabilirsiniz.
            </p>
            <p>
                <b>Profil</b> menüsü ile kişisel bilgileriniz girebilir, hesabınızın hep size ait kalmasını sağlayabilirsiniz.
            </p>
            
        </div>
    </ion-content>
</ion-view>