<ion-view view-title="Yeni Ürün">
    <ion-nav-buttons side="left">
        <div class="buttons">
          <button class="button button-clear" ng-click="closeAddProduct()"></button>
        </div>        
    </ion-nav-buttons>
    <ion-content  >
      <form ng-submit="saveNewProduct()">
          <div class="list">
            <label class="item item-input">
              <i class="ion-ios-pricetag-outline"></i>&nbsp
              <span class="input-label">Ürün Adı</span>
              <input type="text" ng-model="newProduct.name" ng-keyup="searchTextChanged()" id="productName" >
            </label>
            <label class="item">
              <button class="button button-block button-positive" type="submit" ng-dblclick="none()">Tamam</button>
            </label>
            <br><br>
            <center>
              <span style="color:red" ng-if="errMessage">
                <i class="ion-alert"></i>&nbsp
                {{errMessage}}
              </span>
            </center>        
          </div>
        </form>
    </ion-content>
</ion-view>
