<ion-view view-title="Ürünler">
	<ion-nav-buttons side="right">
        <button class="button button-clear button-positive" data-ng-click="showAddProduct()" >
        	<i class="ion-ios-plus-outline"></i>
        	&nbsp;Yeni
        </button>
    </ion-nav-buttons>
    <ion-content>
        <ion-refresher 
                pulling-text="Güncelle" 
                on-refresh="resetForm()"
                >
        </ion-refresher>        
    	<ion-list class="list card" >        	        
			  <a class="item item-avatar" ng-repeat="item in items | orderBy:'name'" 
              href="#app/webinfo/{{item.wikititle}}">
			    <img fallback-src loading-src imgCache ng-src="{{item.image}}" />
			    <h2 style="margin-top:10px;">{{item.name}}</h2>
			  </a>
	    </ion-list>
    </ion-content>
</ion-view>