<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content class="main-menu" ng-show="showContent">
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" class="bubble-background"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left"  class="main-menu" ng-show="showMenu">
    <ion-header-bar class="bar-stable row">
      <h1 class="title">
      <i class="ion-pie-graph"></i>
      &nbsp;
      Enn Piyasa</h1>
    </ion-header-bar>
      <ion-content class="seamless" >
        <ion-list scrollbar-y="false" >
          
          <ion-item nav-clear menu-close href="#/app/priceinformation/query" class="item">
            <i class="ion-arrow-graph-up-right"></i>
            Son Bildirimler
          </ion-item>

          <ion-item nav-clear menu-close href="#/app/market/query" class="item">
            <i class="ion-stats-bars"></i>
            Sorgula
          </ion-item>

          <ion-item nav-clear menu-close ng-href="#/app/dataInput/dateAndTradeCenter" >
            <i class="ion-star"></i>
            Piyasa Gir
          </ion-item>

          <ion-item nav-clear menu-close ng-href="#/app/product/productList" >
            <i class="ion-ios-pricetag"></i>
            Ürünler
          </ion-item>

          <ion-item nav-clear menu-close ng-href="#/app/tradeCenter/tradeCenterList" >
            <i class="ion-ios-pricetags"></i>
            Piyasalar
          </ion-item>

          <ion-item nav-clear menu-close ng-href="#/app/profile">
            <i class="ion-person-stalker"></i>
            Profil
          </ion-item>

          <ion-item nav-clear menu-close ng-href="#/app/about">
            <i class="ion-information-circled"></i>
            Kullanım
          </ion-item>
          
        </ion-list>
      </ion-content>
  </ion-side-menu>
</ion-side-menus>
