<ion-view view-title="{{page.title}}" >
	<ion-nav-buttons side="left"></ion-nav-buttons>
  <ion-content class="bg" >
    
    <div class="card" ng-if="page.state == 'saving'">
      <div class="item item-text-wrap" style="text-align:center;" >
        Kullanıcı kaydı yapılıyor<br/>
        Lütfen bekleyiniz.
      </div>
    </div>

    <div class="item item-body" style="border-bottom: wheat;" ng-if="page.state == 'register'">
	    <p>
	        <i class="ion-information"></i>
	        &nbsp;&nbsp;Lütfen kayıt için bilgilerinizi giriniz.
	    </p>	    
	    <div class="list" ng-if="!page.saving">    	
	    	<label class="item item-input">
		    	<input type="text" id="namesurname"  placeholder="Adınız soyadınız" ng-model="page.name"  ng-change="resetValidation()">
		  	</label>		  	

			<label class="item item-input">
				<input type="text" placeholder="e-posta adresiniz" ng-model="page.email"  ng-change="resetValidation()">
			</label>
		  
		  	<label class="item item-input">
		    	<intl-tel ng-model="page.telephone" placeholder="Telefon numaranız" ></intl-tel>
		  	</label>
		  
		  	<br/><br/>
		  	<div ng-show="!page.isValid">
	        	<center>
	            	<p style="color:red" class="ion-alert" >&nbsp;Lütfen en az adınızı ve soyadınızı giriniz.</p>
	            	<br/>
	        	</center>        
	    	</div>
		  	<button class="button button-full button-positive" ng-click="continuePressed()">Devam</button>
		</div>
    </div>
  </ion-content>
</ion-view>
